* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

ul,
ol,
menu {
	list-style: none;
}

/****************************************/

#formIn {
    padding: 10px;
    margin: 10px;
}

#scontrino {
    padding: 10px;
    border: 1px solid black;
    display: none;

    width: fit-content;
    padding: 10px;
    margin: 10px;
}

#scontrino ul{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

#scontrino li {
    display: flex;
    flex-direction: column;
    gap: 10px;    
}
